<footer class="justify-content-center base">
	<ul>
		<li class="cor-w">
			<a href="https://instagram.com/the_vinicius_3d/" target="_blank"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a> Vinicius-3D
		</li>
		<li class="cor-w">
			<a href="https://instagram.com/d_acessorios_multimarcas/" target="_blank"><span><i class="fa fa-instagram" aria-hidden="true"></i></span></a> D&E
		</li>
	</ul>
	<div class="justify-content-center d-flex">
		<a href="{% url 'home' %}">Home</a>
	</div>
	<p class="copy">
		Copyright &#169; Vinicius-3D
	</p>

</footer>
