{% extends 'base.html' %}
{% load static %}
{% load permission_tags %}
{% block title_ %}{{ object.name }}{% endblock %}

{% block base_head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/gallery.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/slideshow.css' %}">
{% endblock %}

{% block content %}
<div class="container">
	{% if user|has_role:'gerente' %}
		{% include 'products/includes/delete.html' with pk=object.pk%}
		<a class="btn btn-warning" href="{% url 'products:edit' pk=object.pk %}">Editar</a>
	{% endif %}
	<div class="card mobile" style="max-height: 800px;">

		{% if view.request.user_agent.is_pc %}
			{% include 'products/includes/img_detail.html' %}
		{% endif %}

		{% if view.request.user_agent.is_mobile or view.request.user_agent.is_tablet %}
			{% include 'products/includes/mobile_img_detail.html' %}
		{% endif %}

		<div class="col-md-4">
		<div class="card-body" style="display: block;">
			<h1>{{ object.name | title }}</h1>
			<p style="font-size: 1.8rem">R$ {{ object.price }}</p>
			{% if view.request.user_agent.is_pc %}
				<a href="https://api.whatsapp.com/send?phone=557996531981&text={{ object.name }}" target="_blank">
					<img src="{% static 'img/whatsapp-logo-svgrepo-com.svg' %}" style="height: 100px;" >
				</a>
			{% endif %}
		</div>
		</div>
	</div>
	<h2 class="des">Descrição</h2>
	<p class="description">{{ object.description | capfirst | linebreaks }}</p>
	{% if view.request.user_agent.is_mobile or view.request.user_agent.is_tablet %}
		<a href="https://api.whatsapp.com/send?phone=557996093194&text={{ object.name }}" target="_blank">
			<img class="whatsapp" src="{% static 'img/whatsapp-logo-svgrepo-com.svg' %}">
		</a>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'products/js/gallery.js' %}"></script>
	<script type="text/javascript" src="{% static 'products/js/slideshow.js' %}"></script>
{% endblock %}
