{% extends 'base.html' %}
{% load static %}

{%block base_head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/product_card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'products/css/filter.css' %}">
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-3">
			{% include 'products/includes/filter.html' %}
		</div>
		<div class="col-lg-9">
			{% include 'products/includes/card.html' %}
		</div>
	</div>
</div>
{% include 'products/includes/pagination.html' %}
{% endblock %}

