<!DOCTYPE html>
<html lang="pt-br" style="position: relative;">

{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	{% block base_head %}{% endblock%}
	{% include 'base/css.html' %}
	<link rel="stylesheet" href="{% static 'css/baseboard.css' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'products/css/search.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Inter Tight"  rel="stylesheet">
	<style>
		body {
			font-family: 'Heebo';
		}
	</style>
</head>
<body id="no">
	<header class="dreg-header">
		{% include 'components/navbar.html'%}
	</header>
	{% block content %}{% endblock %}
	{% include 'components/baseboard.html'%}
	{% include 'base/js.html' %}
	{% block scripts %}{% endblock %}
</body>
</html>
