#no {
	background-color: #fff;
	min-height: 100vh;
	padding: 0 0 100px;
	margin: 0;
}

.dreg-header {
	background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(140,48,79,1) 58%, rgba(100,0,255,1) 100%);
}
